<center>
    <table width="670" border="0" align="center" cellpadding="0" cellspacing="0"
        style="padding: 0px 50px; background: #f9f9f9;font-family: Arial, Times, serif;">
        <tr>
            <td height="150" valign="top"></td>
        </tr>

        <tr>
            <td align="center" valign="top" style="font-size: 16px; color: #333; line-height: 24px; text-align: left;">
                Hi {{__CUSTOMER_NAME__}},</td>
        </tr>
        <tr>
            <td height="10" valign="top"></td>
        </tr>
        <tr>
            <td align="center" valign="top"
                style="font-size: 15px; color: #797979; line-height: 24px; text-align: left;">Here are your login
                details to use a ${{__COUPON_AMOUNT__}} Gift Card on {{__STORE_NAME__}}, the #1 online store for
                consumer gadgets, health and fitness goods plus so much more!</td>
        </tr>
        <tr>
            <td height="50" valign="top"></td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" valign="top"
                            style="font-size: 15px; color: #303030; line-height: 24px; text-align: left;">Login Url:
                        </td>
                        <td align="center" valign="top"
                            style="font-size: 15px; color: #303030; line-height: 24px; text-align: left;">
                            {{__SHOPIFY_LOGIN_URL__}}</td>
                    </tr>
                    <tr>
                        <td height="5" valign="top"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top"
                            style="font-size: 15px; color: #303030; line-height: 24px; text-align: left;">Email:</td>
                        <td align="center" valign="top"
                            style="font-size: 15px; color: #303030; line-height: 24px; text-align: left;">
                            {{__CUSTOMER_EMAIL__}}</td>
                    </tr>
                    <tr>
                        <td height="5" valign="top"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top"
                            style="font-size: 15px; color: #303030; line-height: 24px; text-align: left;">Password:</td>
                        <td align="center" valign="top"
                            style="font-size: 15px; color: #303030; line-height: 24px; text-align: left;">
                            {{__CUSTOMER_PASSWORD__}}</td>
                    </tr>
                    <tr>
                        <td height="5" valign="top"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top"
                            style="font-size: 15px; color: #303030; line-height: 24px; text-align: left;">Discount Code:
                        </td>
                        <td align="center" valign="top"
                            style="font-size: 15px; color: #303030; line-height: 24px; text-align: left;">
                            {{__DISCOUNT_CODE__}}</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td height="150" valign="top"></td>
        </tr>
    </table>
</center>