<html>

<head>
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1024.0">
    <div
        style="background-color:#f5f5f5; font-family: Montserrat,Verdana,sans-serif; color: rgb(0, 0, 0); padding:25px; font-size: 14px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#fff" width="600"
            height="50">
            <tbody>
                <tr>
                    <td align="center" style="padding: 10px;" valign="middle">
                        <img src="{{__LOGO_IMAGE__}}" width="75">
                    </td>
                </tr>
            </tbody>
        </table>

        <table align="center" border="0" cellpadding="0" cellspacing="0"
            style="padding: 65px 15px; background-color:#ffb431; background-image: url('{{__GIFT_CARD_IMAGE__}}'); background-size:100%; background-position: center"
            width="600">
            <tbody>
                <tr>
                    <td align="left" valign="middle" height="200"></td>
                </tr>
            </tbody>
        </table>

        <table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="600"
            style="padding: 25px ">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <div style="font-size: 14px;line-height: 1.5em ! important; padding: 0px 25px 25px 25px ">
                            Use your exclusive {{__COUPON_AMOUNT__}}% OFF CODE on <strong>{{__STORE_URL__}}</strong>, the #1 online store for consumer goods, health, fitness goods, and so much more!
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td height="" valign="top" width="">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="450">
                            <tbody>
                                <tr>
                                    <td valign="top" width="150" style="padding-bottom:10px">
                                        <div style="font-size: 14px;font-weight:700">Login URL:</div>
                                    </td>
                                    <td valign="top" width="300">
                                        <div style="font-size: 14px;">
                                            <a href="{{__SHOPIFY_LOGIN_URL__}}">{{__SHOPIFY_LOGIN_URL__}}</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="100" style="padding-bottom:10px">
                                        <div style="font-size: 14px;font-weight:700">Email:</div>
                                    </td>
                                    <td valign="top" width="300">
                                        <div style="font-size: 14px;">{{__CUSTOMER_EMAIL__}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="100" style="padding-bottom:10px">
                                        <div style="font-size: 14px;font-weight:700">Password:</div>
                                    </td>
                                    <td valign="top" width="300">
                                        <div style="font-size: 14px;">{{__CUSTOMER_PASSWORD__}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="100" style="padding-bottom:10px">
                                        <div style="font-size: 14px;font-weight:700">Gift Card Code:</div>
                                    </td>
                                    <td valign="top" width="300">
                                        <div style="font-size: 14px;">{{__DISCOUNT_CODE__}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" colspan="2" align="center" width="500" style="padding-top:25px">
                                        <a href="{{__SHOPIFY_LOGIN_URL__}}" style="font-size: 18px;font-weight:700;border-radius: 25px;padding: 10px
                                            30px;background-color: #ffb331;border-color: #ffb331;border-style: hidden;
                                            color: white;">
                                            {{__BUTTON_TEXT__}}
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>



        <table align="center" bgcolor="#000" border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <div style="font-size: 13px;line-height: 1.5em ! important; padding: 25px; color:#fff; ">

                            {{__STORE_NAME__}}<br />
                            <a href="tel:{{__CS_PHONE__}}" target="_top" style="color: white;">{{__CS_PHONE__}}</a>
                            |
                            <a href="mailto:{{__CS_EMAIL__}}" target="_top" style="color: white;">{{__CS_EMAIL__}}</a>
                            <br />
                            Customer Care Department Hours:<br />
                            {{__CS_HOURS__}}<br />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>